// jquery
script(type="text/javascript", src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.js")

// angular
script(type="text/javascript", src="{{ STATIC_URL }}bower_components/angular/angular.js")

// foundation
script(type="text/javascript", src="{{ STATIC_URL }}bower_components/foundation/js/foundation.js")

script(type="text/javascript", src="{{ STATIC_URL }}js/app.js")
script(type="text/javascript", src="{{ STATIC_URL }}js/global/global.js")