extends base

block content
  section.dashboard
    ul
      li
        img( alt="placeholder" src="/static/images/placeholder.jpg" )
        label( for="input" ) Я сказал однажды
        input( type="text" id="input" )


